* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

:root {
  --gray-100: #F8F8F8;
  --gray-200: #D7D7D7;
  --gray-300: #BBBBBB;
  --gray-900: #1A1D23;
  --rose-500: #FF57B2;
}

body {
  background: var(--gray-900);
  color: var(--gray-100);
}

ul {
  list-style: none;
}
